body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #7e5bef, #9d4edd);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  color: #6c2bd9;
  font-weight: 500;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
}

h2 {
  color: #6c2bd9;
  margin-bottom: 24px;
}

.form-control,
.form-select {
  padding: 12px;
  border: 1px solid #d4c2f5;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background-color: #f8f4ff;
}

button {
  padding: 12px 30px;
  background-color: #7e5bef;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}

button:disabled {
  background-color: #c3b5f5;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #6c2bd9;
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.loader {
  margin: 20px auto;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #9d4edd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.8s linear infinite;
}

.custom-button {
  padding: 12px 30px;
  background-color: #7e5bef;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.custom-button:disabled {
  background-color: #c3b5f5;
  cursor: not-allowed;
}

.custom-button:hover:enabled {
  background-color: #6c2bd9;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
